{
  "singleQuote": true,
  "semi": true,
  "printWidth":  120,
  "tabWidth":  2,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}
